---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import AboutUs from "../components/AboutUs.astro";
import Hero from "../components/Hero.astro";
import Grant from "../components/Grant.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="The Red Arrows Trust">
  <main x-data="{ aboutOpen: false }" @keydown.escape="aboutOpen = false">
    <About />
    <Hero />
    <AboutUs />
    <Grant />
    <Footer />
  </main>
</Layout>
{/* <video
data-dashjs-player=""
src="https://customer-drd555xwunugst2w.cloudflarestream.com/5cf5bc999279967f7532cad408bc9854/manifest/video.mpd"
loop
muted></video> */}
