---
import Layout from "../layouts/Layout.astro";
---

<Layout title="RAF charity dinner">
  <main class="grid h-screen place-items-center bg-neutral-100 py-12 md:py-24">
    <div
      class="mx-auto flex max-w-4xl flex-col space-y-8 md:flex-row md:space-x-4"
    >
      <div
        class="flex max-w-lg flex-col items-center md:basis-1/2 md:items-start"
      >
        <div class="h-16 w-36 rounded-xl bg-rafblue px-2 pt-1 md:h-24 md:w-48">
          <img src="rafRev.png" alt="Raf Logo" />
        </div>
        <div class="my-4 px-4 md:w-3/4 md:px-0">
          <h1 class="text-center text-4xl font-bold md:text-left md:text-5xl">
            Support the best in British aviation
          </h1>
          <p class="text-center md:text-left">
            The Red Arrows charity ball is taking place on August 8th. Secure
            your ticket for a brilliant night
          </p>
        </div>
        <button
          class="w-64 rounded bg-rafred px-4 py-2 text-xl font-semibold text-white hover:bg-red-700"
          >Book your ticket</button
        >
      </div>
      <div class="flex items-center md:basis-1/2" x-data="{ bobbing: true }">
        <div class="bobbing aspect-video rounded-xl border-8">
          <video
            data-dashjs-player=""
            autoplay="true"
            src="https://customer-drd555xwunugst2w.cloudflarestream.com/5cf5bc999279967f7532cad408bc9854/manifest/video.mpd"
            loop></video>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  /* Set the bobbing animation */
  @keyframes bob {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .bobbing {
    animation: bob 4s ease-in-out infinite;
  }
</style>
