<div
  class="fixed inset-0 z-10 flex items-center justify-center overflow-auto"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
  x-show="aboutOpen"
  x-cloak
>
  <div
    class="fixed inset-0 bg-gray-800 bg-opacity-20 backdrop-blur-sm transition-opacity"
    x-show="aboutOpen"
    x-transition:enter="ease-out duration-300"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="ease-in duration-200"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
  >
  </div>

  <div class="mx-auto w-[90%] max-w-4xl">
    <div
      class="relative flex flex-col items-center space-y-4 rounded-xl bg-slate-900 p-4 shadow-xl transition-all md:p-10"
      x-show="aboutOpen"
      x-on:click.away="aboutOpen = false"
      x-transition:enter="transition ease-out duration-300 transform"
      x-transition:enter-start="opacity-0 scale-95"
      x-transition:enter-end="opacity-100 scale-100"
      x-transition:leave="transition ease-in duration-200 transform"
      x-transition:leave-start="opacity-100 scale-100"
      x-transition:leave-end="opacity-0 scale-95"
      x-cloak
      style="max-height: calc(100vh - 2rem); overflow-y: auto;"
    >
      <h2 class="text-center text-4xl font-semibold text-white">About</h2>
      <p class="text-white">
        The Red Arrows Trust is a charitable organization dedicated to making a
        positive impact through partnership and sponsorship of worthy causes. We
        believe in the power of collaboration and work closely with
        organizations that share our vision of creating a better future for
        communities across the country.
      </p>
      <p class="text-white">
        Each year, the Red Arrows Trust commits between £100,000 and £150,000 to
        support a wide range of charitable initiatives. Through our financial
        contributions and strategic partnerships, we aim to make a meaningful
        difference in areas such as education, healthcare, social welfare, and
        environmental conservation.
      </p>

      <p class="text-white">
        At the Red Arrows Trust, we recognize that our impact is made possible
        through the generosity and support of individuals like you. Your
        contributions, whether financial or through advocacy, are invaluable in
        helping us continue our mission of supporting and empowering worthy
        causes across the UK.
      </p>

      <p class="text-white">
        Together, we can make a difference and shape a brighter future for those
        in need. Join us in our commitment to building a stronger, more
        compassionate society.
      </p>

      <div class="flex space-x-4">
        <a
          class="font-semibold text-rafaltblue underline hover:text-sky-700 hover:decoration-4"
          href="https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/283461/trustees"
          >View Trustees</a
        >
        <button
          class="font-bold text-white hover:text-white/80"
          x-on:click="aboutOpen = false">Close</button
        >
      </div>

      <span class="text-center text-xs text-white"
        >&reg; charity number 283461</span
      >
    </div>
  </div>
</div>

<style>
  [x-cloak] {
    display: none;
  }
</style>
