---
import AboutSegment from "./AboutSegment.astro";

const aboutText =
  "The Red Arrows Trust is a charitable organisation dedicated to making a positive impact through partnership and sponsorship of worthy causes. We collaborate with organisations that share our vision of creating a better future for communities across the country.";

const causeText =
  "Each year, we commit over £100,000 to support a wide range of charitable initiatives. Through our financial contributions we make meaningful differences in areas such as serving and veteran military personnel’s social welfare and healthcare, and aid organisations and community projects that the Red Arrows themselves support.";

const donateText =
  "The Trust’s income stream comes predominantly from Red Arrows merchandise licenses. Greater impact, however, can be made possible through the generosity and support of individuals like you. Your contributions, whether financial or through advocacy, are invaluable in helping us continue our mission of empowering worthy causes.";
---

<section
  class="w-full bg-gradient-to-b from-[#8AA1C1] to-rafaltblue py-8 md:py-16"
>
  <div
    class="mx-auto max-w-6xl space-y-2 px-4 py-8 text-white md:space-y-16 md:px-12 md:py-16"
    id="about"
  >
    <AboutSegment
      title="About the Trust"
      bodyText={aboutText}
      imageSrc="castleJets.jpg"
      altText="Pilot event signing"
    />

    <AboutSegment
      title="Causes"
      bodyText={causeText}
      imageSrc="bournemouth.jpg"
      altText="Red arrows at castle"
      reversed
    />

    <AboutSegment
      title="Donations"
      bodyText={donateText}
      imageSrc="buck.jpg"
      altText="Red arrows at coronation"
    />
  </div>
  <hr class="mx-auto max-w-6xl" />
  <div
    class="mx-auto flex max-w-6xl flex-col items-center justify-between space-y-4 px-4 py-4 text-white md:flex-row md:py-12"
  >
    <a
      class="w-64 rounded bg-rafred px-4 py-2 text-xl font-semibold text-white transition-colors hover:bg-red-700"
      href="https://donate.stripe.com/3cs5my52Hclg4aAaEE"
    >
      Make a donation
    </a>
  </div>
  <hr class="mx-auto max-w-6xl" />
</section>
