<div
  class="relative z-10"
  aria-labelledby="slide-over-title"
  role="dialog"
  aria-modal="true"
  x-show="aboutOpen"
  x-transition:enter="ease-out duration-500"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="ease-in duration-500"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 overflow-hidden">
    <div class="absolute inset-0 overflow-hidden">
      <div
        class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10"
        x-show="aboutOpen"
        x-on:click.away="aboutOpen = false"
        x-transition:enter="transition ease-out duration-300 transform"
        x-transition:enter-start="translate-x-full"
        x-transition:enter-end="translate-x-0"
        x-transition:leave="transition ease-in duration-200 transform"
        x-transition:leave-start="translate-x-0"
        x-transition:leave-end="translate-x-full"
        x-cloak
      >
        <div class="pointer-events-auto w-screen max-w-2xl">
          <div
            class="flex h-full flex-col overflow-y-scroll bg-white py-6 shadow-xl"
          >
            <div class="px-4 sm:px-6">
              <div class="flex items-start justify-between">
                <h2
                  class="text-xl font-semibold leading-6 text-gray-900"
                  id="slide-over-title"
                >
                  Grant eligibility
                </h2>
                <div class="ml-3 flex h-7 items-center">
                  <button
                    @click="aboutOpen = false"
                    type="button"
                    class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-rafred focus:ring-offset-2"
                  >
                    <span class="sr-only">Close panel</span>
                    <svg
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <article
              class="prose relative mt-6 flex-1 px-4 lg:prose-lg sm:px-6"
            >
              <ol>
                <li>
                  You must be a registered charity in Scotland, England and
                  Wales, or Northern Ireland
                </li>
                <li>
                  The funding must be used to:
                  <ul>
                    <li>
                      Support serving and veteran RAF personnel and their
                      dependents in need, by reason of youth, age, ill-health,
                      disability, financial hardship or other disadvantage
                    </li>
                    <li>
                      Educate the public (and particularly of persons under the
                      age of 19 years) on the subjects of the RAF, other air
                      forces and their spheres of operation
                    </li>
                    <li>
                      Aid communities and charitable interests closely
                      associated with the current Red Arrows team, both in the
                      UK and overseas
                    </li>
                  </ul>
                </li>
                <li>
                  We will consider a range of factors including the service or
                  item being funded, the number of beneficiaries, the importance
                  of the grant to the applicant charity, the efficiency of the
                  charity, need of the beneficiaries and its urgency.
                </li>
                <li>
                  You must meet the Trust's due diligence requirements, which
                  may include providing details/evidence of your charity’s:
                  <ul>
                    <li>Charitable status</li>
                    <li>Governance structure and arrangements</li>
                    <li>Bank account details and authorised signatories</li>
                    <li>
                      Anything else reasonably required to confirm the validity
                      of the organisation or project
                    </li>
                  </ul>
                </li>
              </ol>
              <h4>Exclusions</h4>
              <p>Funding is not available for the following:</p>
              <ul>
                <li>Charities applying on behalf on an individual</li>
                <li>Charities which promote a particular faith</li>
                <li>
                  Charities registered with their respective registration body
                  for less than two years
                </li>
                <li>Activities that charge participants to attend</li>
              </ul>
              <h4>Monetary value</h4>
              <ul>
                <li>
                  Applications may be made for monetary values between £250 and
                  £5,000.
                </li>
              </ul>
              <h4>Application timeline</h4>
              <ul>
                <li>
                  Applications can be made at any time, but will be reviewed
                  twice each year (May and November). Applications for
                  consideration at the May review board must be submitted by 31
                  March. Applications for the November review board must be
                  submitted by 30 September.
                </li>
                <li>
                  Dates will be strictly adhered to and any late submissions
                  will automatically be deferred for consideration at the next
                  Board meeting. Charities will be informed if this does occur
                  and be given the option to withdraw.
                </li>
              </ul>
              <h4>Application process</h4>
              <ul>
                <li>
                  Please keep your application clear and concise, but ensure
                  that you include a covering letter to introduce your charity.
                </li>
                <li>Our application process is online</li>
                <li>
                  An application can be saved in draft format and completed at a
                  later date.
                </li>
                <li>
                  Please review your online application carefully before
                  submission.
                </li>
                <li>
                  On submission, an email acknowledgement will be sent to you.
                </li>
                <li>
                  All applicants will be informed of the outcome on completion
                  of the review process.
                </li>
              </ul>
              <h4>Time bars</h4>
              <ul>
                <li>
                  Unsuccessful applicants cannot apply to the Trust again until
                  one year after notification of a rejection.
                </li>
                <li>Withdrawn applications will not face a time bar.</li>
              </ul>
            </article>

            <a
              class="my-4 self-center font-semibold text-rafaltblue underline hover:text-sky-700 hover:decoration-4"
              href="https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/283461/trustees"
            >
              View Trustees
            </a>

            <span class="mt-2 text-center text-xs">
              &reg; charity number 283461
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
