<div
  class="relative z-10"
  aria-labelledby="slide-over-title"
  role="dialog"
  aria-modal="true"
  x-show="aboutOpen"
  x-transition:enter="ease-out duration-500"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="ease-in duration-500"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 overflow-hidden">
    <div class="absolute inset-0 overflow-hidden">
      <div
        class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10"
        x-show="aboutOpen"
        x-on:click.away="aboutOpen = false"
        x-transition:enter="transition ease-out duration-300 transform"
        x-transition:enter-start="translate-x-full"
        x-transition:enter-end="translate-x-0"
        x-transition:leave="transition ease-in duration-200 transform"
        x-transition:leave-start="translate-x-0"
        x-transition:leave-end="translate-x-full"
        x-cloak
      >
        <div class="pointer-events-auto w-screen max-w-2xl">
          <div
            class="flex h-full flex-col overflow-y-scroll bg-white py-6 shadow-xl"
          >
            <div class="px-4 sm:px-6">
              <div class="flex items-start justify-between">
                <h2
                  class="text-xl font-semibold leading-6 text-gray-900"
                  id="slide-over-title"
                >
                  Grant eligibility
                </h2>
                <div class="ml-3 flex h-7 items-center">
                  <button
                    @click="aboutOpen = false"
                    type="button"
                    class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-rafred focus:ring-offset-2"
                  >
                    <span class="sr-only">Close panel</span>
                    <svg
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <article
              class="prose relative mt-6 flex-1 px-4 lg:prose-lg sm:px-6"
            >
              <ol>
                <li>
                  You must be a registered charity in Scotland, England and
                  Wales, or Northern Ireland.
                </li>
                <li>
                  The Trust will consider a range of factors including the
                  service or item being funded, the number of beneficiaries, the
                  importance of the grant to the applicant charity, the
                  efficiency of the charity, need of the beneficiaries and its
                  urgency.
                </li>
                <li>
                  Priority will be given to charities that:
                  <ul>
                    <li>
                      Support serving and veteran RAF personnel and their
                      dependents in need, by reason of youth, age, ill-health,
                      disability, financial hardship or other disadvantage
                    </li>
                    <li>
                      Educate the public (and particularly young people) on the
                      subjects of the RAF, other air forces and their spheres of
                      operation
                    </li>
                    <li>
                      Aid communities and charitable interests closely
                      associated with the current Red Arrows team locations,
                      both in the UK and overseas
                    </li>
                  </ul>
                </li>
                <li>
                  You must meet the Trust's due diligence requirements, which
                  may include providing details/evidence of:
                  <ul>
                    <li>Charitable status</li>
                    <li>Governance structure and arrangements</li>
                    <li>Bank account details and authorised signatories</li>
                    <li>
                      Anything else reasonably required to confirm the validity
                      of the organisation or project
                    </li>
                  </ul>
                </li>
              </ol>
              <h4>Exclusions</h4>
              <p>Funding is not available for the following:</p>
              <ul>
                <li>Charities applying on behalf on an individual</li>
                <li>Charities which promote a particular faith</li>
                <li>Animal welfare charities</li>
                <li>
                  Charities registered with their respective registration body
                  for less than two years
                </li>
                <li>Activities that charge participants to attend</li>
              </ul>
              <h4>Monetary value</h4>
              <ul>
                <li>
                  Applications are considered on a case-by-case basis.
                  Successful applications will generally receive between £500
                  and £5,000 for each single gift.
                </li>
              </ul>
              <h4>Application timeline</h4>
              <ul>
                <li>
                  Applications can be made at any time, however the Red Arrows
                  Trust runs Gifting Boards to assess all applications twice
                  each year (Summer and Winter).
                </li>
                <li>
                  Applications for consideration at the Summer Gifting Board
                  must be submitted by 30 April. Applications for the Winter
                  Gifting Board must be submitted by 30 November.
                </li>
              </ul>
              <h4>Application process</h4>
              <ul>
                <li>
                  All applications for funding are to be submitted to: <a
                    class="my-4 self-center font-semibold text-rafaltblue underline hover:text-sky-700 hover:decoration-4"
                    href="mailto:trustee@redarrowstrust.org.uk"
                    >trustee@redarrowstrust.org.uk</a
                  >
                </li>
                <li>
                  Your application covering letter should be clear and concise,
                  and include:
                  <ul>
                    <li>
                      An introduction to your charity, including purpose,
                      governance, and the reasons why you believe that your
                      charity meets the Red Arrows Trust eligibility criteria.
                    </li>
                    <li>
                      Details of what gifting funds you are applying for and
                      what they will be used to support.
                    </li>
                    <li>
                      Details of the direct impact that the gifting will provide
                      to your charity.
                    </li>
                  </ul>
                </li>
                <li>
                  On submission of your application, an email acknowledgement
                  will be sent to you.
                </li>
                <li>
                  All successful applicants will be informed of the outcome on
                  completion of the review process and Gifting Boards.
                </li>
              </ul>
            </article>

            <a
              class="my-4 self-center font-semibold text-rafaltblue underline hover:text-sky-700 hover:decoration-4"
              href="https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/283461/trustees"
            >
              View Trustees
            </a>

            <span class="mt-2 text-center text-xs">
              &reg; charity number 283461
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
