<footer class="w-full bg-gradient-to-b from-rafblue to-black p-4 md:p-12">
  <div class="mx-auto max-w-7xl space-y-4">
    <hr />
    <div
      class="grid grid-cols-1 place-items-center justify-items-center space-y-4 md:grid-cols-3"
    >
      <div class="w-80 sm:w-96">
        <img
          src="rat_horizontal.png"
          alt="Red Arrows Trust Logo"
          class="image-cover"
        />
      </div>
      <a
        class="font-semibold text-white underline hover:text-sky-700 hover:decoration-4"
        href="https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/283461/trustees"
        >View Trustees</a
      >
      <a
        class="font-semibold text-white underline hover:text-sky-700 hover:decoration-4"
        href="mailto:trustee@redarrowstrust.org.uk">Contact us</a
      >
    </div>
    <div class="mx-auto flex max-w-2xl flex-col space-y-4 text-sm text-white">
      <p>
        The Red Arrows Trust is a charity registered in England and Wales
        283461. Registered Office: 2 Somes Close, Uffington, Stamford,
        Lincolnshire PE9 4UE
      </p>
      <span class="text-left"
        >Cover photo by <a
          class="underline hover:decoration-2"
          href="https://unsplash.com/ja/@raymondo600?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
          >Ray Harrington</a
        > on <a
          href="https://unsplash.com/photos/UneLI_RSsUw?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
          >Unsplash.</a
        > All other images &copy; Ministry Of Defence and Crown Copyright 2023
      </span>
      <span class="text-center">&copy; Red Arrows Trust 2023</span>
    </div>
  </div>
</footer>
