<section
  class="w-full bg-gradient-to-b from-rafaltblue to-rafblue py-8 md:py-16"
  id="apply"
>
  <div class="mx-auto flex max-w-2xl flex-col space-y-8 text-white">
    <h2 class="text-center text-4xl font-bold text-white md:text-6xl">
      Apply for a grant
    </h2>
    <div class="space-y-4 px-4 sm:px-2">
      <p>
        The Red Arrows Trust provides grants to fund projects and activities
        carried out by other charities. During an average year, this amounts to
        over £100,000.
      </p>
      <p>
        We invite applications from organisations that are recognised as
        charitable by the Charity Commission for England and Wales, the Office
        of the Scottish Charity Regulator (OSCR), or the Charity Commission for
        Northern Ireland.
      </p>
      <p>
        If an award is made, all grant recipients must submit a progress report
        and a copy of the charity's latest accounts for each year that funding
        is given. The Trustees may request additional evidence (such as a post
        award visit) to ensure funding is being used appropriately.
      </p>
    </div>
    <button
      class="w-auto self-center rounded border-2 px-4 py-2 text-xl font-semibold text-white transition-colors hover:bg-rafaltblue"
      x-on:click="aboutOpen = true">See eligibility criteria</button
    >
  </div>
</section>
