<div
  class="h-[90vh] bg-[url('/nineHeroSubtle.jpg')] bg-cover bg-center bg-no-repeat backdrop-blur-md sm:h-screen"
  id="hero"
>
  <div
    class="relative flex h-full w-full flex-col items-center space-y-4 backdrop-blur-md"
    x-data
  >
    <nav class="hidden p-4 md:block lg:self-start">
      <div class="max-w-[300px]">
        <img
          src="rat_horizontal.png"
          alt="Red Arrows Trust Logo"
          class="image-cover"
        />
      </div>
    </nav>
    {/* Start hero content */}
    {/* Text container */}
    <div class="max-w-3xl space-y-2 px-2 pt-8 text-white md:px-0 lg:pt-4">
      <h1
        class="translate-y-5 animate-fadeUpIn text-center text-4xl font-bold opacity-0 md:text-6xl lg:text-8xl"
      >
        The Red Arrows Trust
      </h1>
      <p class="translate-x-5 animate-fadeUpIn2 text-center text-lg opacity-0">
        Supporting worthy charitable causes.
      </p>
    </div>
    <div
      class="flex cursor-pointer flex-col space-y-2 md:flex-row md:space-x-2 md:space-y-0"
    >
      <a
        class="animate-[fadeOpacity_0.8s_ease_1.25s_forwards] rounded bg-rafred px-4 py-2 text-xl font-semibold text-white opacity-0 transition-colors hover:bg-red-700"
        href="https://donate.stripe.com/3cs5my52Hclg4aAaEE"
      >
        Make a donation
      </a>
      <a
        class="animate-[fadeOpacity_0.8s_ease_1.5s_forwards] rounded border-2 px-4 py-2 text-xl font-semibold text-white opacity-0 transition-colors hover:bg-rafaltblue"
        href="#apply"
      >
        Apply for a grant
      </a>
    </div>
    <div class="absolute bottom-2 w-20 cursor-pointer lg:bottom-8">
      <a href="#about">
        <img
          src="falconTopDown.png"
          alt="plane to scroll down"
          class="rotate-180 transition-transform duration-150 ease-linear hover:skew-y-12"
        />
      </a>
    </div>
  </div>
</div>
