<div
  class="flex h-16 w-16 flex-col items-center space-y-2 rounded-xl bg-white p-4"
>
  <img
    src="planeDiamond.png"
    alt="Red Arrows Trust logo"
    class="object-cover"
  />
  <span class="font-serif text-2xl font-bold">The Red Arrows Trust</span>
</div>
