<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>The Red Arrows Trust</title>
    <meta
      content="The Red Arrows Trust support worthy causes throughout the UK"
      name="description"
    />
    <meta content="website" property="og:type" />
    <meta property="og:image" content="/ogImg.jpg" />
    <meta name="generator" content={Astro.generator} />
    <style is:global>
      [x-cloak] {
        display: none;
      }
    </style>
  </head>
  <body class="scroll-smooth">
    <slot />
    <script>
      // dots is an array of Dot objects,
      // mouse is an object used to track the X and Y position
      // of the mouse, set with a mousemove event listener below
      var dots = [],
        mouse = {
          x: 0,
          y: 0,
        };

      // The Dot object used to scaffold the dots
      var RedDot = function () {
        this.x = 0;
        this.y = 0;
        this.node = (function () {
          var n = document.createElement("div");
          n.ariaHidden = true;
          n.className =
            "h-1 w-1 rounded absolute bg-red-500 pointer-events-none hidden md:block";
          document.body.appendChild(n);
          return n;
        })();
      };
      var BlueDot = function () {
        this.x = 0;
        this.y = 0;
        this.node = (function () {
          var n = document.createElement("div");
          n.ariaHidden = true;
          n.className =
            "h-1 w-1 rounded absolute bg-sky-500 pointer-events-none hidden md:block";
          document.body.appendChild(n);
          return n;
        })();
      };
      var WhiteDot = function () {
        this.x = 0;
        this.y = 0;
        this.node = (function () {
          var n = document.createElement("div");
          n.ariaHidden = true;
          n.className =
            "h-1 w-1 rounded absolute bg-neutral-100 pointer-events-none hidden md:block";
          document.body.appendChild(n);
          return n;
        })();
      };

      // The Dot.prototype.draw() method sets the position of
      // the object's <div> node
      RedDot.prototype.draw = function () {
        this.node.style.left = this.x + "px";
        this.node.style.top = this.y + "px";
      };
      BlueDot.prototype.draw = function () {
        this.node.style.left = this.x + 1 + "px";
        this.node.style.top = this.y + 1 + "px";
      };
      WhiteDot.prototype.draw = function () {
        this.node.style.left = this.x + 2 + "px";
        this.node.style.top = this.y + 2 + "px";
      };

      // Creates the Dot objects, populates the dots array
      for (var i = 0; i < 24; i++) {
        var r = new RedDot();
        dots.push(r);
        var w = new WhiteDot();
        dots.push(w);
        var b = new BlueDot();
        dots.push(b);
      }

      // This is the screen redraw function
      function draw() {
        // Make sure the mouse position is set everytime
        // draw() is called.
        var x = mouse.x,
          y = mouse.y;

        // This loop is where all the 90s magic happens
        dots.forEach(function (dot, index, dots) {
          var nextDot = dots[index + 1] || dots[0];

          dot.x = x;
          dot.y = y;
          dot.draw();
          x += (nextDot.x - dot.x) * 0.15;
          y += (nextDot.y - dot.y) * 0.15;
        });
      }

      addEventListener("mousemove", function (event) {
        //event.preventDefault();
        mouse.x = event.pageX;
        mouse.y = event.pageY;
      });

      // animate() calls draw() then recursively calls itself
      // everytime the screen repaints via requestAnimationFrame().
      function animate() {
        draw();
        requestAnimationFrame(animate);
      }

      // And get it started by calling animate().
      animate();
    </script>
  </body>
</html>
